APP_NAME=Smart Laundry
APP_ENV=dev
APP_PORT=8080

DB_HOST=localhost
DB_PORT=3306
DB_NAME=smart_laundry
DB_USERNAME=root
DB_PASSWORD=
DB_TIMEZONE=Asia/Jakarta

APP_SEED=true
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin123
SEED_STAFF_USERNAME=staff
SEED_STAFF_PASSWORD=staff123
SEED_DEMO_DATA=false
